<script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
{{ ws_client() }}
<h1>Your lucky number is </h1>
<script type="text/javascript">

    var webSocket = WS.connect("ws://127.0.0.1:8080");

    webSocket.on("socket/connect", function(session){
        //session is an Autobahn JS WAMP session.
        
        console.log("Successfully Connected!");
    })

    webSocket.on("socket/disconnect", function(error){
        //error provides us with some insight into the disconnection: error.reason and error.code

        console.log("Disconnected for " + error.reason + " with code " + error.code);
    })
</script>